
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.pi {
    font-family: primeicons;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
  }
  


.simpleDelete-button {
    color:rgb(239, 68, 68);
    border: 1px solid;
    
}